<div class="bs-callout bs-callout-success noElementHidden">客户端属性
    <a id="<%=serialNumber%>-back" href="javascript:void(0);" class="btn-nav-metro btn-info navbar-right"  style="margin-bottom:2px;width:40%;" data-placement="left" data-toggle="tooltip"  title="">返回</a>
</div>
    <div class="noElementHidden">
        <div class="settingItem noElementHidden" id="elementClientAttribute">
            <div>
                <div class="row">
                    <div class="col-md-12">                        
                        <a id="<%=serialNumber%>-client-rollback" href="javascript:void(0);" class="btn-nav-metro btn-danger navbar-right"  style="margin-bottom:2px;width:40%;" data-placement="left" data-toggle="tooltip"  title="">还原</a>
                    </div>
                </div>
            </div>            
            <div class="text hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">文本</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input fieldName="text" type="text" class="form-control"  placeholder="文本内容"/>
                    </div>           
                </div>         
            </div>
            <div class="glyphicon hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">图标</label>
                </div>
                <div class="row">
                    <div class="col-md-12 iconSelectionContainer"></div>
                </div>
            </div>
            <div class="size hidden">                   
                <div class="row">
                    <label  class="col-md-12 control-label">大小</label>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 sizeSelectionContainer"></div>
                </div>
            </div>
            <div class="radioColor hidden">                   
                <div class="row">
                    <label  class="col-md-12 control-label">单选框颜色</label>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 radioColorSelectionContainer"></div>
                </div>
            </div>
            <div class="feedback hidden">                   
                <div class="row">
                    <label  class="col-md-12 control-label">小图标</label>
                </div>
                <div class="row">
                    <div class="col-md-12 feedbackSelectionContainer"></div>
                </div>
            </div>
            <div class="defaultValue hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">默认值</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input fieldName="defaultValue" type="text" class="form-control"  placeholder="默认值"/>
                    </div>
                </div>
            </div>
            <div class="reverse hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">选项反转</label>
                </div>
                <div class="row">
                    <div class="col-md-12 reverseContainer"></div>
                </div>
            </div>
            <div class="title hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">标题</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="title" type="text" class="form-control"  placeholder="标题内容"/>            
                    </div>
                </div>
            </div>
            <div class="helpLabel hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">帮助</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="helpLabel" type="text" class="form-control"  placeholder="帮助文本内容"/>      
                    </div>
                </div>
            </div>           
            <div class="placeholder hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">Placeholder</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="placeholder" type="text" class="form-control"  placeholder="Placeholder内容"/>      
                    </div>
                </div>
            </div>     
            <div class="value hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">值</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="value" type="text" class="form-control"  placeholder="表单的值"/>            
                    </div>
                </div>
            </div>
            <div class="src hidden">                   
                <div class="row">
                    <label  class="col-md-12 control-label">源</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="src" type="text" class="form-control"  placeholder="图片引用的源"/>             
                    </div>
                </div>
            </div>
            <div class="alt hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">ALT</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="alt" type="text" class="form-control"  placeholder="ALT"/>  
                    </div>
                </div>
            </div>
            <div class="width hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">宽度</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="width" type="text" class="form-control"  placeholder="控件的宽度"/>  
                    </div>
                </div>
            </div>
            <div class="height hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">高度</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="height" type="text" class="form-control"  placeholder="控件的高度"/>  
                    </div>
                </div>
            </div>
            <div class="color hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">颜色</label>
                </div>
                <div class="row">
                    <div class="col-md-12 fontColorContainer">     
                        <!-- <input fieldName="color" type="text" class="form-control"  placeholder="字体的颜色"/>   -->
                    </div>
                </div>
            </div>
            <div class="bgColor hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">背景颜色</label>
                </div>
                <div class="row">
                    <div class="col-md-12 bgColorContainer">     
                        <!-- <input fieldName="bgColor" type="text" class="form-control"  placeholder="背景的颜色"/>  -->
                    </div>
                </div>
            </div>
            <div class="fontSize hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">字体大小</label>
                </div>
                <div class="row">
                    <div class="col-md-12 fontSizeContainer">     
                        <!-- <input fieldName="fontSize" type="text" class="form-control"  placeholder="字体的大小"/>             -->
                    </div>
                </div>
            </div>
            <div class="font hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">字体</label>
                </div>
                <div class="row">
                    <div class="col-md-12 fontContainer">     
                        <!-- <input fieldName="font" type="text" class="form-control"  placeholder="字体"/>    -->      
                    </div>
                </div>
            </div>
            <div class="fontStyle hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">字体样式</label>
                </div>
                <div class="row">
                    <div class="col-md-12 fontStyleContainer">     
                        <!-- <input fieldName="fontStyle" type="text" class="form-control"  placeholder="字体的样式"/>        -->
                    </div>
                </div>
            </div>
            <div class="fontWeight hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">字体粗细</label>
                </div>
                <div class="row">
                    <div class="col-md-12 fontWeightContainer">     
                        <!-- <input fieldName="fontWeight" type="text" class="form-control"  placeholder="字体的粗细"/>  -->
                    </div>
                </div>
            </div>
            <div class="textAlign hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">对齐</label>
                </div>
                <div class="row">
                    <div class="col-md-12 textAlignContainer">     
                        <!-- <input fieldName="fontWeight" type="text" class="form-control"  placeholder="字体的粗细"/>  -->
                    </div>
                </div>
            </div>
            <div class="link hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">链接</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="link" type="text" class="form-control"  placeholder="URL的链接"/>   
                    </div>
                </div>
            </div>
            <div class="prefix hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">前缀</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="prefix" type="text" class="form-control"  placeholder="前缀文本"/>   
                    </div>
                </div>
            </div>
            <div class="dataOffTitle hidden">                   
                <div class="row">
                    <label  class="col-md-12 control-label">off标题</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="dataOffTitle" type="text" class="form-control"  placeholder="off标签的标题"/>
                    </div>
                </div>
            </div>
            <div class="dataOnTitle hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">on标题</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="dataOnTitle" type="text" class="form-control"  placeholder="no标签的标题"/>            
                    </div>
                </div>
            </div>
            <div class="dataOffIconClass hidden">                   
                <div class="row">
                    <label  class="col-md-12 control-label">off图标</label>
                </div>
                <div class="row">
                    <div class="col-md-12 dataOffIconClassSelectionContainer"></div>     
                </div>
            </div>
            <div class="dataOnIconClass hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">on图标</label>
                </div>
                <div class="row">
                    <div class="col-md-12 dataOnIconClassSelectionContainer"></div>     
                </div>
            </div>
            <div class="dataOfflabel hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">off标签</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="dataOfflabel" type="text" class="form-control"  placeholder="off标签的文字"/>
                    </div>
                </div>
            </div>
            <div class="dataOnlabel hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">on标签</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <input fieldName="dataOnlabel" type="text" class="form-control"  placeholder="on标签的文字"/>      
                    </div>
                </div>
            </div>
            <div class="dataOffColor hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">off颜色</label>
                </div>
                <div class="row">
                    <div class="col-md-12 dataOffColorSelectionContainer">                 
                    </div>
                </div>
            </div>
            <div class="dataOnColor hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">on颜色</label>
                </div>
                <div class="row">
                    <div class="col-md-12 dataOnColorSelectionContainer">                 
                    </div>
                </div>
            </div>
            <div class="selectData hidden">                    
                <div class="row">
                    <label  class="col-md-12 control-label">选项</label>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <textarea fieldName="selectData" class="form-control" rows="3" placeholder="选项"/>       
                    </div>
                </div>
            </div>
            <div class="readonly hidden">                    
                <div class="row row-attr">
                    <label  class="col-md-4 control-label">只读</label>
                    <div class="col-md-8 readonlyContainer navbar-right"></div>   
                </div>
             <!--    <div class="row">
                    
                </div> -->
            </div>
            <div class="disabled hidden">                    
                <div class="row row-attr">
                    <label  class="col-md-4 control-label">禁用</label>
                    <div class="col-md-8 disabledContainer navbar-right"></div>  
                </div>
                <!-- <div class="row">
                    
                </div> -->
            </div>
            <div class="dateFormat hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">日期格式</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input fieldName="dateFormat" type="text" class="form-control"  placeholder="日期格式"/>
                    </div>
                </div>
            </div>
            <div class="startDate hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">开始日期</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input fieldName="startDate" type="text" class="form-control"  placeholder="开始日期"/>
                    </div>
                </div>
            </div>
            <div class="endDate hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">结束日期</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input fieldName="endDate" type="text" class="form-control"  placeholder="结束日期"/>
                    </div>
                </div>
            </div>
            <div class="html hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">HTML</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea fieldName="html" class="form-control" rows="3" placeholder="HTML"/>
                    </div>
                </div>
            </div>
            <div class="datasource hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">数据源</label>
                </div>
                <div class="row">
                    <div class="col-md-12 datasourceContainer"></div>
                </div>
            </div>
            <div class="chartConfig hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">图表配置</label>
                </div>
                <div class="row">
                    <div class="col-md-12 chartConfigContainer"></div>
                </div>
            </div>
            <div class="validateConfig hidden">
                <div class="row">
                    <div class="col-md-12 validateConfigContainer"></div>
                </div>
            </div>
            <div class="videoConfig hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">视频配置</label>
                </div>
                <div class="row">
                    <div class="col-md-12 videoConfigContainer"></div>
                </div>
            </div>
            <div class="thumbnailConfig hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">图文混排配置</label>
                </div>
                <div class="row">
                    <div class="col-md-12 thumbnailConfigContainer"></div>
                </div>
            </div>
        </div>
    </div>      
    <div class="bs-callout bs-callout-success noElementHidden" tab="serverAttribute">服务器属性
        
    </div>
    <div class="noElementHidden" tab="serverAttribute">
        <div class="settingItem noElementHidden" id="elementServerAttribute">
            <div class="dataField hidden">                
                <div class="row">
                    <label  class="col-md-12 control-label">字段</label>
                </div>
                <div class="row">
                    <div class="serverFieldSelection"></div>  
                </div>
            </div>
            <div class="dataValue hidden">
                <div class="row">
                    <label  class="col-md-12 control-label">值</label>
                </div>
                <div class="row">
                    <div class="col-md-12">       
                         <input fieldName="fieldValue" type="text" class="form-control"  placeholder="常量字段的值"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-callout bs-callout-success noElementHidden" >事件</div>
    <div class="noElementHidden">
      <div class="settingItem elementEvent noElementHidden" id="elementEvent">
          
      </div>
    </div>