<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">修改登入密码</h2>
        <label for="inputEmail" class="sr-only">原始密码</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">新密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword" class="sr-only">再输入一次新密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit">取消</button>

      </form>

    </div>