<div class="container" style="width:auto">
    <!-- <div class="row"></div> -->
    <div class="row padding-base">
        <div class="col-md-12">
            <ul class="nav nav-pills navbar-nav"><!--class="active"-->
                <li module="index"><a href="#">首页</a></li>
                <li module="oi"><a href="#oi">数据存储</a></li>
                <li module="container"><a href="#container/list">容器管理</a></li>
                <li module="page"><a href="#page/list">页面管理</a></li>
                <li module="customScripts"><a href="#customScripts/list">在线编程</a></li>
                <li module="app"><a href="#app/list">APP应用</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span class="btn-group">
                      <span class="glyphicon glyphicon-user btn btn-default dropdown-toggle" data-toggle="dropdown"></span>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0);">个人信息</a></li>
                        <li module="password"><a href="#passwordEdit">修改密码</a></li>
                        <li><a href="#systemConfig">系统设置</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);">退出</a></li>
                      </ul>
                    </span>
                </li>
                <li><span style="margin-left:10px"><a href="http://www.greatbee.com/"><img src="<%=staticDomain%>/img/logo.png" style="height:30px;"></a></span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="content"></div>
    </div>
</div>