<div class="panel panel-primary" style="width:35%;position:absolute;top:30%;left:30%">
  <div class="panel-heading">
    <h4 class="panel-title">      
        登录到NVWA    
    </h4>
  </div>
  <div class="panel-collapse collapse in">
    <div class="panel-body">
    	<div class="row form-group">
		  <div class="col-md-3">
		  	<span class="label control-label navbar-form navbar-right" style="color: rgb(255, 255, 255);">登录名</span>
		  </div>
		  <div class="col-md-9">
		  	<input type="text" fieldName="login_name" class="form-control" placeholder="请输入电子邮件或手机号" value="nvwa">
		  </div>
		</div>
		<div class="row form-group">
		  <div class="col-md-3">
		  	<span class="label control-label navbar-form navbar-right" style="color: rgb(255, 255, 255);">密码</span>
		  </div>
		  <div class="col-md-9">
		  	<input type="password"  fieldName="password" class="form-control" placeholder="请输入登录密码"  value="111">
		  </div>
		</div>
		<div class="row form-group">
		  <div class="col-md-3">
		  	
		  </div>
		  <div class="col-md-9">
		  	<a href="javascript:void(0);" class="btn btn-default btn-login">登录</a>
		  	<span class="label control-label alert-label navbar-form navbar-right hidden" style="color: rgb(255, 255, 255);">login false!</span>			  	
		  </div>
		</div>
    </div>
  </div>
</div>