<%
  var cards=dataSource.cards;
  if($nvwa.array.isVerify(cards)){
    $.each(cards,function(i,row){
      %><div class="row" rowIndex="<%=i%>"><%
       if($nvwa.array.isVerify(row)){
         $.each(row,function(k,item){
            if(item){
              var link=item.link;
              var title=item.title;
              var subTitle=item.subTitle;
              var content=item.content;

              %><div class="col-md-3" columnIndex="<%=k%>">
                  <div class="thumbnail">
                    <div class="caption">
                  <%if($nvwa.string.isVerify(link)){%>
                    <a href="<%=link%>"  target="_blank" >
                  <%}%>      
                  <h3> 
                  <%if($nvwa.string.isVerify(title)){%>
                    <%=title%><br>
                  <%}%>
                  <%if($nvwa.string.isVerify(subTitle)){%>
                    <small><%=subTitle%></small>
                  <%}%>
                  </h3>
                  <%if($nvwa.string.isVerify(link)){%>
                    </a>
                  <%}%>  
                  <%if($nvwa.string.isVerify(content)){%>
                      <p><%=content%></p>
                  <%}%>
                  </div>
                </div>
              </div><%
            }
         });
       }
      %></div><%
    });
  }
%>